<!--<app-home></app-home>
<app-comments></app-comments>
<app-testdirective></app-testdirective>
<app-accounts></app-accounts>
-->
<!--<div class="row col-sm-4">
  <div class="btn btn-light col-sm-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="" >Home</a></div>
  <div class="btn btn-light col-sm-3" routerLinkActive="active"><a routerLink="star" >Star</a></div>
  <div class="btn btn-light col-sm-3" routerLinkActive="active"><a [routerLink]="['accounts']" >Accounts</a></div>
  <div class="btn btn-light col-sm-3" routerLinkActive="active"><a [routerLink]="['users']" >Users</a></div>
</div>-->
<h3>welcome to my app</h3>
<button class="btn btn-primary" (click)="loginClicked()" [ngStyle]="{display : isLoggedIn == true ? 'none' : 'block' }">Login</button>
<button class="btn btn-secondary" (click)="logoutClicked()" [ngStyle]="{display : isLoggedIn == false ? 'none' : 'block' }">Logout</button>
<hr>
<ul class="nav nav-pills">
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" (click)="setHomeActive()" [ngClass]="{'active': activeHome}" routerLink="">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" (click)="setStarActive()" [ngClass]="{'active': activeStar}" [routerLink]="['star']">Star</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" (click)="setAccountsActive()" [ngClass]="{'active': activeAccounts}"
       [routerLink]="['accounts']">Accounts</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" (click)="setUsersActive()" [ngClass]="{'active': activeUsers}"
       [routerLink]="['users']">Users</a>
  </li>
</ul>
<router-outlet></router-outlet>






